{% extends "base.html" %}

{% block title %}Danseskole - Elev{% endblock %}

{% block content %}

    <h2>Opret Dansehold</h2>
    <form action="/opret_dansehold" method="post">
        Stilart: <input type="text" name="stilart" placeholder="Stilart fx. Disco">

        Instruktør:
        <select name="instruktor_id">
            {% for instruktor in instruktorer %}
            <option value="{{ instruktor.id }}">{{ instruktor.fornavn }} {{ instruktor.efternavn }}</option>
            {% endfor %}
        </select>

        <label for="lokation_id">Vælg lokation:</label>
        <select name="lokation_id" id="lokation_id">
            {% for lokation in lokationer %}
                <option value="{{ lokation.id }}">{{ lokation.adresse }}</option>
            {% endfor %}
        </select>

        <button type="submit">Opret dansehold</button>
    </form>

    <h2>Liste over Dansehold</h2>
        <ul>
            {% for dansehold in dansehold_liste %}
            <li>
                {{ dansehold.stilart }} - {{ dansehold.instruktor }}
                <a href="/opdater_dansehold/{{ dansehold.id }}">Opdater</a>
                <button onclick="sletDansehold({{ dansehold.id }})">Slet</button>
            </li>
            {% endfor %}
        </ul>

    <script>
        function sletDansehold(danseholdID) {
            const bekræftelse = confirm("Er du sikker på, at du vil slette dette dansehold?")
            if (bekræftelse) {
                fetch(`/slet_dansehold/${danseholdID}`, {
                    method: 'DELETE'
                })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message);
                        location.reload(); // Opdaterer siden efter sletning
                    })
                    .catch(error => console.error('Fejl:', error));
            }
        }
    </script>

{% endblock %}