{% extends "base.html" %}

{% block title %}Danseskole - Elev{% endblock %}

{% block content %}

    <h2>Opret Dansehold</h2>
    <form action="/opret_dansehold" method="post">
        Stilart: <input type="text" name="stilart" placeholder="Stilart">
        Instruktor: <input type="text" name="instruktor" placeholder="instruktor">
        Lokation ID: <input type="number" name="lokation_id">
        <input type="submit" value="Opret Dansehold">
    </form>

    <h2>Liste over Dansehold</h2>
        <ul>
            {% for dansehold in dansehold_liste %}
            <li>
                {{ dansehold.stilart }} - {{ dansehold.instruktor }}
                <a href="/opdater_dansehold/{{ dansehold.id }}">Opdater</a>
                <button onclick="sletDansehold({{ dansehold.id }})">Slet</button>
            </li>
            {% endfor %}
        </ul>

    <script>
        function sletDansehold(danseholdID) {
            const bekræftelse = confirm("Er du sikker på, at du vil slette dette dansehold?")
            if (bekræftelse) {
                fetch(`/slet_dansehold/${danseholdID}`, {
                    method: 'DELETE'
                })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message);
                        location.reload(); // Opdaterer siden efter sletning
                    })
                    .catch(error => console.error('Fejl:', error));
            }
        }
    </script>



    <h2>Tilføj elev til danselektion</h2>
    {% for lektion in lektioner %}
    <form action="/tilfoej_elev_til_lektion/{{ lektion.id }}" method="post">
        <input type="hidden" name="lektion_id" value="{{ lektion.id }}">
        <select name="elev_id">
            {% for elev in elever %}
            <option value="{{ elev.id }}">{{ elev.navn }}</option>
            {% endfor %}
        </select>
        <button type="submit">Tilføj elev</button>
    </form>
    {% endfor %}

{% endblock %}