{% extends "base.html" %}

{% block title %}Danseskole - Elev{% endblock %}

{% block content %}

    <h2>Opret Elev</h2>
    <form action="/opret_elev" method="post">
      Fornavn: <input type="text" name="fornavn" placeholder="Fornavn">
      Efternavn: <input type="text" name="efternavn" placeholder="Efternavn">
        Fødselsdato: <input type="text" name="fodselsdato" placeholder="fodselsdato dd/mm/20xx">
        Mobil: <input type="text" name="mobil" placeholder="12345678">
      <input type="submit" value="Opret Elev">
    </form>

     <h2>Elevliste</h2>
    <ul>
        {% for elev in elever %}
        <li>
            {{ elev.fornavn }} {{ elev.efternavn }}, {{ elev.fodselsdato }}, {{ elev.mobil }}
            - <button onclick="sletElev({{ elev.id }})">Slet</button>
            - <a href="/opdater_elev/{{ elev.id }}">Opdater</a>
        </li>
        {% endfor %}
    </ul>

    <script>
    function sletElev(elevId) {
        console.log("Slet elev med ID:", elevId); // Debugging
        fetch(`/slet_elev/${elevId}`, {
            method: 'DELETE'
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
            location.reload(); // Opdaterer siden efter sletning
        })
        .catch(error => console.error('Fejl ved sletning:', error));
    }
</script>

{% endblock %}