{% extends "base.html" %}

{% block title %}Danseskole - Fremmøde{% endblock %}

{% block content %}
<h1>Fremmøde for {{ dansehold.stilart.stilart }}</h1>
<h3>Instruktør: {{ dansehold.instruktor.fornavn }} {{ dansehold.instruktor.efternavn }}</h3>
<h4>Lokation: {{ dansehold.lokation.adresse }}</h4>
<h4>Klokken: {{ dansehold.tidspunkt }}</h4>

<form method="POST" action="{{ url_for('registrer_fremmoede', dansehold_id=dansehold.id) }}">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Elev</th>
                {% for dato in datoer %}
                    <th class="text-center">{{ dato.strftime('%d/%m/%Y') }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for elev in dansehold.elever %}
                <tr>
                    <td><strong>{{ elev.fornavn }} {{ elev.efternavn }}</strong></td>
                    {% for dato in datoer %}

                        <td class="text-center">
    <input type="checkbox"
           name="fremmoede_{{ elev.id }}_{{ dato.strftime('%Y-%m-%d') }}"
           {% if fremmoede_data[elev.id][dato] %}checked{% else %}unchecked{% endif %}>
</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Gem Fremmøde</button>
</form>
{% endblock %}

