{% extends "base.html" %}

{% block title %}Danseskole - Fremmøde{% endblock %}

{% block content %}

<h2>Fremmøde for {{ dansehold.stilart.stilart }} - {{ dansehold.instruktor }}</h2>
<form method="POST" action="{{ url_for('fremmøde', dansehold_id=dansehold.id) }}">
    <table class="table">
        <thead>
            <tr>
                <th>Elev</th>
                {% for dato in datoer %}
                    <th>{{ dato.strftime('%d/%m/%Y') }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for elev in elever %}
                <tr>
                    <td>{{ elev.fornavn }} {{ elev.efternavn }}</td>
                    {% for dato in datoer %}
                        <td>
                            <input type="checkbox" name="fremmødt_{{ elev.id }}_{{ dato.strftime('%Y-%m-%d') }}">
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Gem Fremmøde</button>
</form>


