<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Danseskole</title>



</head>
<body>
    <h1>Velkommen til danseskolen DCT</h1>

      <h2>Opret Elev</h2>
<form action="/opret_elev" method="post">
  Navn: <input type="text" name="navn" placeholder="Fuld navn" required="required">
  Fødselsdato: <input type="text" name="fodselsdato" placeholder="fodselsdato dd/mm/20xx" required="required">
  <input type="submit" value="Opret Elev">
</form>

</body>
</html>