<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Opdater Elev</title>
</head>
<body>
    <h1>Opdater {{ elev.navn }}</h1>
    <form id="opdaterForm">
        Navn: <input type="text" id="fornavn" value="{{ elev.fornavn }}">
        Efternavn: <input type="text" id="efternavn" value="{{ elev.efternavn }}">
        Fødselsdato: <input type="text" id="fodselsdato" value="{{ elev.fodselsdato }}">
        <button type="button" onclick="opdaterElev({{ elev.id }})">Opdater Elev</button>
    </form>

    <script>
        function opdaterElev(elevId) {
            const fornavn = document.getElementById('fornavn').value;
            const efternavn = document.getElementById('efternavn').value;
            const fodselsdato = document.getElementById('fodselsdato').value;

            fetch(`/opdater_elev/${elevId}`, {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ fornavn: fornavn, efternavn: efternavn, fodselsdato: fodselsdato })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                window.location.href = "/elev";
            });
        }
    </script>
</body>
</html>
