<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Slet elev</title>
</head>
<body>

    <h1>Er du sikker på, at du vil slette {{ elev.navn }}?</h1>
    <button type="button" onclick="sletElev({{ elev.id }})">Opdater Elev</button>


    <script>
        function sletElev(elevId) {
            fetch(`/slet_elev/${elevId}`, {
                method:'DELETE'
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    window.location.href="/"
                });
        }
    </script>
</body>
</html>